* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
    text-decoration: none;    
}

body {
    font-family: open sans,sans-serif;
    color: #fff;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}

header {
    width: 100%;
    background-color:#0f2027;

    
    border-bottom: #0000001c 2px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 8px 6px 0 gray;

    
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.logo img {
    width: 18px;
    padding-right: 5px;
}

.logo h2 {
    font-weight: 600;
    font-size: 20px;
}
.logo h2:hover{
    text-decoration: underline;
}
.logo h3{
    margin-left: 10px;
    padding: 5px 10px;  
    background-color:rgba(0,0,0,0.3);
    width: 60px;
    border-radius: 30px;
    font-size: 9px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.986);

}
.logo h3:hover{
    background-color:rgb(252, 215, 6);
}

#nav-site {   
    text-transform: uppercase;
}

#nav-site a {   
    padding: 0 20px;
}
#nav-site a:hover {   
    color: skyblue;
}

/*HEADER END*/
/*MAIN START*/
main {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
} 
 
.container-home {
    height: 80vh;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
     background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px solid grey; 
    border-bottom-right-radius: 200px; 

    
}

.title h1{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;

    

}
.title p{
    font-size: 1em;
}
.title span{ 
    text-decoration: underline;
 }
    .title span:hover {   
    color: skyblue;
}


#social img {
    padding: 20px 4px 0 4px ;
    width: 30px;
}
/*MAIN END*/
/*SOBRE MIN START*/


    #sobre-mim {
        height: auto;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        text-align: center;
        background: #C33764;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    } 
    #sobre-mim img {
        width: 60%;
        max-width: 380px;
        height: auto;
        border-radius: 50%;
        border: 3px solid wheat;
            transition: 1s;

    }
    #sobre-mim img:hover {
        border: 3px solid #0f2027;
        transition: 1s;

    }


    #sobre-mim p {
        padding: 10px 20%;
    }

    #sobre-mim h3 {
        padding-top: 30px;
        text-transform: uppercase;

        font-weight: 400;
    }

    .lista-cursos h2{
        padding: 10px 0 ;
    }





    /*SOBRE MIN END*/

    /*PORTFOLIO START*/


    #portfolio {
        height: auto;

        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0 60px;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);   

    }

.portfolio-title {
     display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 60px 0;    
    
}
.porfolio-align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    align-items: center;
    width: 100%;
}

.porfolio-item { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    height: 400px;
    margin-bottom: 10px; 
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: solid 1px white;
    border-radius: 5px;
    transition: ease-in-out 555ms;

    
}
 
.porfolio-item-text {
    
    padding: 5px;
    
}
.porfolio-item-text h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: underline;
}

.porfolio-item-text h3 {
    font-size: 1em;
    color: rgb(226, 223, 223);
    padding-bottom: 10px;

    
}

.btn {
    
    font-family: Raleway, serif;
    text-transform: uppercase;

    color: white;
    font-size: 16px;
    font-weight: 100;
    width: 200px;
    height: 45px;
    cursor: pointer;    
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 200px ;
    outline: none;
    transition: ease-in 1s;
     
  } 
  .btn:hover { 

    background: linear-gradient(to right, #C33764, #5C258D);  
 }

.porfolio-item img { 
    width: 400px;
    height: 300px;
    box-shadow: 0px 0 10px 0 #111;   
    transition: ease-in 1s;
 
    
} 

.porfolio-item img:hover {
    transition: ease-in 1s;
    box-shadow: 0px 0 30px 0 #0f2027;
}

/*PORTFOLIO END*/
/*space start*/



#container-space {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    font-family: Raleway, serif;
    margin: 0 0 50px 0;
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
}
 
 
  
 /*space END*/
 /*footer start*/

#footer {

    padding: 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}


.footer-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;     
}

.footer-nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
     padding-top: 10px;

 }
 .footer-nav a{
     color: darkgray;
     padding-top: 4px ;
     font-size: 1.1em;
     font-weight: 500;
    
}
.footer-nav a:hover {
    color: rgb(230, 230, 230);

}

#footer-social img {
    padding: 10px 4px 0 4px ;
    width: 20px;
}

.footer-contact {
    font-size: 1.6em;
}
.footer-contact h3 {
    color: rgb(16, 151, 151);
}

.footer-autor {
    background-color:#0f2027;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
.footer-autor h2 {
    color: darkgray;
    font-size: 0.8em;
    font-weight: 600px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer-autor h2:hover{
    color: rgb(185, 181, 181);

}